.row
    .col-sm-4
        h6.card-title BTC
        .card-text $#{data.btcPrice}
        .card-text #{data.btcPrediction}
    .col-sm-4
        h6.card-title ETH
        .card-text $#{data.ethPrice}
        .card-text #{data.ethPrediction}
    .col-sm-4
        h6.card-title LTC
        .card-text $#{data.ltcPrice}
        .card-text #{data.ltcPrediction}